<div class="row m-0">
    <div class="col-md-12 px-1">
        <div class="table-responsive-md">
            <table class="table m-0">
                <caption><strong>{{conversations.length}}</strong> total conversations | <strong>{{conversations.length}}</strong> active</caption>
                <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input position-static m-0" type="checkbox">
                            </div>
                        </th>
                        <th>Customer</th>
                        <th>Conversation</th>
                        <th>Number</th>
                        <th>Waiting Since</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conversation of conversations; let i = index" [routerLink]="['/mailbox/', conversation.id]" class="{{conversation.status}}">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input position-static m-0" type="checkbox">
                            </div>
                        </td>
                        <td [routerLink]="['/mailbox/', conversation.id]">
                            <p class="m-0"><b>Lyda Howland</b></p>
                        </td>
                        <td [routerLink]="['/mailbox/', conversation.id]">
                            <p class="m-0"><b>{{conversation.subject}}</b></p>
                            <p class="m-0 preview">{{conversation.content}}</p>
                        </td>
                        <td [routerLink]="['/mailbox/', conversation.id]">
                            <p class="m-0"><b>{{ (conversation.number | number) || 0 }}</b></p>
                        </td>
                        <td [routerLink]="['/mailbox/', conversation.id]">
                            <p class="m-0"><b>{{conversation.createdAt | date:'dd LLL, yy'}}</b></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>