table {

    thead {

        th {
            padding: 0.25rem;
            color: #93a1af;
            font-size: 13px;
            font-weight: 400;
            line-height: 26px;
            white-space: nowrap;

            &:focus {
                outline: unset;
            }
            
        }

    }

    tbody {

        tr {

            td {
                padding: 0.25rem;
                font-size: 13px;
                line-height: 26px;
                vertical-align: middle;
                color: #2a3b47;
                white-space: nowrap;
                cursor: pointer;
    
                .preview {
                    color: #93a1af;
                }

                &:focus {
                    outline: unset;
                }
    
            }

            &.active {
                b {
                    font-weight: 400;
                }
            }

        }

    }

}