<div class="wrapper">
    <nav class="sidebar d-none d-lg-block">
        <h5 class="m-0 pb-2">Demo Mailbox</h5>
        <ul class="list-unstyled pb-4 m-0">
            <li class="nav-item active">
                <a class="nav-link px-0" [routerLink]="['/mailbox']">
                    <i class="far fa-envelope-open mr-2"></i> Unassigned <span>27</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-0">
                    <i class="far fa-hand-rock mr-2"></i> Mine <span>6</span>
                </a>
            </li>
            <li class="nav-item no-active">
                <a class="nav-link px-0">
                    <i class="far fa-user mr-2"></i> Assigned
                </a>
            </li>
            <li class="nav-item no-active">
                <a class="nav-link px-0">
                    <i class="far fa-trash-alt mr-2"></i> Closed
                </a>
            </li>
            <li class="nav-item no-active">
                <a class="nav-link px-0">
                    <i class="fas fa-ban mr-2"></i> Spam
                </a>
            </li>
        </ul>
        <div class="m-0 pb-2 folders">FOLDERS</div>
        <ul class="list-unstyled pb-4 m-0">
            <li class="nav-item">
                <a class="nav-link px-0">
                    Refund Requests <span>3</span>
                </a>
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item dropdown p-0 w-50 text-center" data-toggle="tooltip" data-placement="bottom" title="Mailbox Settings (,)">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                    <i class="fas fa-chevron-down pl-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Edit Mailbox</a>
                    <a class="dropdown-item">Connection Settings</a>
                    <a class="dropdown-item">Mailbox Permissions</a>
                    <a class="dropdown-item">Custom Fields</a>
                    <a class="dropdown-item">Saved Replies</a>
                    <a class="dropdown-item">Workflows</a>
                    <a class="dropdown-item">Sat. Ratings</a>
                </div>
            </li>
            <li class="list-group-item p-0 w-50 text-center" data-toggle="tooltip" data-placement="bottom" title="New Conversation (gn)">
                <a class="nav-link"><i class="far fa-comment-alt"></i></a>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid p-0">
        <router-outlet></router-outlet>
    </div>
</div>