.wrapper {
    padding-top: 54px;
    display: flex;
    align-items: stretch;
    height: 100vh;
    
    .sidebar {
        background-color: #f1f3f5;
        width: 250px;
        width: 250px;
        padding: 1.5rem 0 0 1.5rem;

        .nav-item {

            a {
                color: #4f5d6b;
                cursor: pointer;
                position: relative;

                i {
                    color: #93a1af;
                }

                span {
                    position: absolute;
                    right: 1.5rem;
                }

            }

            &.no-active {

                a {
                    color: #93a1af;
                }

            }

            &.active {

                a {
                    color: #07c;
                    font-weight: 700;

                    i {
                        color: #07c;
                    }

                }
                
            }


        }

        .folders {
            color: #a5b2bd;
            font-size: 11.5px;
            font-weight: 500;
        }

        .list-group {
            min-width: 250px;
            max-width: 250px;
            margin-left: -1.5rem;

            .list-group-item {
                background: #e9edef;
                border-color: #d3dae0;
                color: #93a1af;
                border-radius: unset;

                &:hover {
                    background: #dde3e7;
                    color: #687b8d;
                }

            }

            a {
                cursor: pointer;
                color: #93a1af;
            }
            
            .dropdown-toggle {

                &::after {
                    content: unset;
                }
    
                .fa-chevron-down {
                    font-size: 12px;
                }
    
            }
    
            .dropdown-menu {
    
                a {
                    color: #4f5d6b;
    
                    &:hover {
                        background: #f1f3f5;
                        color: #07c;
                    }
    
                }
    
            }

        }

    }

    .container-fluid {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
            height: 0px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f1f3f5;
        }

        &::-webkit-scrollbar-thumb {
                background-color: #005ca4;
        }

    }

}

