<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/mailbox']">Mailbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Docs</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                    <i class="fas fa-chevron-down pl-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">All Channels</a>
                    <a class="dropdown-item">Email</a>
                    <a class="dropdown-item">Phone</a>
                    <a class="dropdown-item">Company</a>
                    <a class="dropdown-item">Happiness</a>
                    <a class="dropdown-item">Docs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Manage
                    <i class="fas fa-chevron-down pl-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Apps</a>
                    <a class="dropdown-item">Beacons</a>
                    <a class="dropdown-item">Company</a>
                    <a class="dropdown-item">Docs</a>
                    <a class="dropdown-item">Mailbox</a>
                    <a class="dropdown-item">Tags</a>
                    <a class="dropdown-item">Teams</a>
                    <a class="dropdown-item">Users</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Setup 20% complete 
                        <i class="fas fa-chevron-down pl-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-life-ring"></i>
                        <i class="fas fa-chevron-down pl-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item">Get Help</a>
                        <a class="dropdown-item">Classes and Training</a>
                        <a class="dropdown-item">Video Tutorials</a>
                        <a class="dropdown-item">Keyboard Shortcuts</a>
                        <a class="dropdown-item">Developers</a>
                        <a class="dropdown-item">Latest Updates</a>
                        <a class="dropdown-item">Status</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </form>
    </div>
</nav>
<div className="page-container">
    <router-outlet></router-outlet>
</div>