nav {
    background: #005ca4;
    padding: 7px 10px 7px 4px;
    height: 54px;

    .nav-item {

        a {
            color: #a0d4ff;
            cursor: pointer;
        }

        &.active, &:hover {

            a {
                color: #ffffff;
            }

        }

        .dropdown-toggle {

            &::after {
                content: unset;
            }

            .fa-chevron-down {
                font-size: 12px;
            }

        }

        .dropdown-menu {

            a {
                color: #4f5d6b;

                &:hover {
                    background: #f1f3f5;
                    color: #07c;
                }

            }

        }

    }

}