.wrapper {
    @media (min-width: 768px) {
        padding-right: 250px;
    }

    .navbar-container {

        nav {
            background: #fff;
            padding: 7px 10px 7px 4px;
            height: 55px;
            border-bottom: 1px solid #e3e8eb;
        
            .nav-item {
        
                a {
                    color: #4f5d6b;
                    cursor: pointer;
                }
        
                &.active, &:hover {
        
                    a {
                        color: #394956;
                    }
        
                }
        
                .dropdown-toggle {
        
                    &::after {
                        content: unset;
                    }
        
                    .fa-chevron-down {
                        font-size: 12px;
                    }
        
                }
        
                .dropdown-menu {
        
                    a {
    
                        &:hover {
                            background: #f1f3f5;
                            color: #07c;
                        }
        
                    }
        
                }
    
            }
            
            form {
    
                a {
                    color: #a5b2bd!important;
    
                    &:hover {
                        color: #364a5a;
                    }
    
                }
    
            }
    
        }

    }

    .title-container {
        position: relative;

        .subject {
            padding: 1rem 1.5rem 0.5rem;

            h2 {
                font-size: 22.5px;
                max-width: 60%;
                span {
                    color: #2a3b47;
                    font-weight: 400;
                    line-height: 30px;
                }

            }

            h4 {
                float: right;
                color: #93a1af;
                font-size: 18px;
                max-width: 40%;
                strong {
                    color: #2a3b47;
                    font-weight: 500;
                }

                span {
                    background: #4bc27d;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 10px;
                }

            }

        }

    }

    .summernote-container {
        border-bottom: 1px solid #e3e8eb;
    }

    .content {

        article {
            border-bottom: 1px solid #e3e8eb;
        }

        .media {

            img {
                border-radius: 50%;
                max-width: 46px;
                max-height: 46px;
            }

            .header {
                min-height: 80px;

                @media (min-width: 768px) {
                    min-height: 50px;
                }
                
                .title {
                    float: left;
                    max-width: 60%;
                }
    
                .meta {
                    color: #a5b2bd;
                    float: right;
                    text-align: right;
                    font-size: 12px;

                    .dropdown-toggle {
                        cursor: pointer;
    
                        &::after {
                            content: unset;
                        }
                    
                    }

                    .dropdown-menu {
    
                        a {
                            color: #4f5d6b;
        
                            &:hover {
                                background: #f1f3f5;
                                color: #07c;
                            }
            
                        }
            
                    }

                }

            }

            h4 {
                color: #8494a4;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.2em;

                strong {
                    font-weight: 500;
                    color: #253540;
                }

                span {
                    color: #fff;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 10px;
                    background: #d21b14;
                }
            }

        }

    }

    .sidebar {
        background-color: #f1f3f5;
        z-index: 1000;
        position: fixed;
        right: 250px;
        width: 250px;
        height: 100%;
        margin-right: -250px;
        top: 54px;
    }

}