<div class="wrapper">
    <div class="row m-0">
        <div class="col-12 p-0">
            <section class="navbar-container">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Reply (r)">
                                <a class="nav-link">
                                    <i class="fas fa-reply"></i>
                                </a>
                            </li>
                            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Note (n)">
                                <a class="nav-link">
                                    <i class="far fa-edit"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom"
                                title="Assign (a)">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-user"></i>
                                    <i class="fas fa-chevron-down pl-1"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Anyone</a>
                                    <a class="dropdown-item">Me</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom"
                                title="Status (s)">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-flag"></i>
                                    <i class="fas fa-chevron-down pl-1"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Active</a>
                                    <a class="dropdown-item">Pending</a>
                                    <a class="dropdown-item">Closed</a>
                                    <a class="dropdown-item">Spam</a>
                                </div>
                            </li>
                            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Tag (t)">
                                <a class="nav-link">
                                    <i class="fas fa-tag"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom"
                                title="More Actions (m)">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">Delete</a>
                                    <a class="dropdown-item">Unfollow</a>
                                    <a class="dropdown-item">Forward</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Newer (k)">
                                    <a class="nav-link">
                                        <i class="fas fa-chevron-up"></i>
                                    </a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Older (j)">
                                    <a class="nav-link">
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </nav>
            </section>

            <section class="title-container">
                <section class="subject">
                    <h2 class="m-0 d-inline-block"><span>Re: Delivery status? Tracking number not valid</span> </h2>
                    <h4 class="m-0 d-inline-block">#<strong>120</strong> <span class="badge badge-success ml-2">ACTIVE</span>
                    </h4>
                </section>
            </section>

            <section class="px-4 py-3 summernote-container">
                <div #summernoteReply></div>
            </section>

            <section class="content">
                <article class="px-4 py-3">
                    <div class="media">
                        <img class="mr-3" src="https://d33v4339jhl8k0.cloudfront.net/demo-mailbox/users/q.jpg">
                        <div class="media-body">
                            <section class="header">
                                <section class="title">
                                    <h4 class="mt-0"><strong>Waylon Smithers</strong> replied <span
                                            class="badge badge-danger">NOT GOOD RATING</span></h4>
                                </section>
                                <section class="meta">
                                    <div class="d-inline-block">
                                        <time>Sep 17, 4:10pm</time>
                                        <p class="m-0">Paul Herman</p>
                                    </div>
                                    <div class="dropdown float-right ml-2 ml-md-3">
                                        <a class="dropdown-toggle" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Edit</a>
                                            <a class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </section>
                            </section>
                            <section [innerHTML]="htmlMail"></section>
                        </div>
                    </div>
                </article>
            </section>

        </div>
    </div>

    <nav class="sidebar d-none d-md-block">
    </nav>
</div>